[alias]
  a = add
  br = branch
  cm = commit
  cma = commit --amend
  cme = commit --allow-empty
  cman = commit --amend --no-edit
  cmf = commit --fixup
  co = checkout
	d = diff
	ds = diff --staged
  f = fetch
  l = log
  lg = log --graph --oneline
	mt = mergetool
  pf = push --force-with-lease
  pl = pull
  rb = rebase --interactive --autostash --autosquash
  rc = rebase --continue
  re = reset
  rs = restore --staged
  s = status
  st = stash
	sw = switch
	wc = whatchanged
[core]
  excludesfile = ~/.gitignore
[interactive]
  singleKey = true
[pull]
  ff = only
[user]
  email = luke@carrier.im
  name = Luke Carrier
