[branch]
  sort=-committerdate

[core]
  excludesfile = ~/.gitignore

[interactive]
  singleKey = true

[pull]
  ff = only

[user]
  email = luke@carrier.family
  name = Luke Carrier
  signingkey = 1CBBEBFE0CDC1C06DB324A7CCE439AFEC33D9E7F

[alias]
  a = add
  br = branch
  brl = "!git branch --format \"%(ahead-behind:HEAD)\t%(refname:short)\t%(committerdate:relative)\t%(describe)\" | git column"
  cm = commit
  cma = commit --amend
  cme = commit --allow-empty
  cman = commit --amend --no-edit
  cmf = commit --fixup
  co = checkout
  d = diff
  ds = diff --staged
  f = fetch
  l = log
  lg = log --graph --oneline
  mt = mergetool
  pf = push --force-with-lease
  pl = pull
  rb = rebase --interactive --autostash --autosquash
  rc = rebase --continue
  re = reset
  rs = restore --staged
  s = status
  st = stash
  sw = switch
  wc = whatchanged

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[diff]
  tool = meld
[merge]
  tool = meld

[init]
  defaultBranch = main

[commit]
  gpgsign = true

[url "git@github.com:"]
  insteadOf = "https://github.com/"

[includeIf "gitdir:~/Code/babylonhealth/"]
  path = ~/Code/babylonhealth/.gitconfig

[gitbutler]
  utmostDiscretion = 1
